.row
  .span4
    %h1 Polls

%hr

.polls
  - @polls.each do |p|
    .poll
      %h2= p.title
      = link_to admin_poll_path(p), class: 'close', method: 'delete', confirm: 'Delete this poll?' do
        &times;

    %ol
      - p.options.each do |o|
        %li
          = link_to o.movie.title, o.movie.imdb_url, target: "_blank"
    %hr