body
  padding-top: 25px

select.datetime
  width: 100px
.poll
  .date-hint
    color: #999
    font-style: italic
  &.closed
    color: #999
    .progress
      .bar
        background-color: #ccc
        background-image: -webkit-linear-gradient(top, #eee, #ddd)
    h2
      font-size: 20px
      small
        font-size: 14px
    a
      color: #999


ul.movies
  list-style-type: none
  margin-left: 0
  margin-bottom: 18px
  li
    margin-top: 12px
    &:first
      color: red

.hint
  color: #999